<!DOCTYPE html>
<html>
<head>
	<title>Cat page</title>
</head>

<body>

<h1>The cat page</h1>

<h2>Welcome to the cat page</h2>

<h3>
Look at this monstrosity from <%=data[0]["url"]%>
</h3>

<div>
	
	
<img src="<%=data[0]["url"]%>">
</div>


</body>
</html>